<h1><center><b>Handling Missing Values</b></center></h1>

In [1]:
import pandas as pd 
  
# Creating the dataframe  
df=pd.DataFrame({"A":[5,3,None,4], 
                 "B":[None,2,4,3], 
                 "C":[4,3,8,5], 
                 "D":[5,4,2,None]}) 
  
# Print the dataframe 
df

     A    B  C    D
0  5.0  NaN  4  5.0
1  3.0  2.0  3  4.0
2  NaN  4.0  8  2.0
3  4.0  3.0  5  NaN

# Checking Null values

In [2]:
df.isnull().any()

A     True
B     True
C    False
D     True
dtype: bool

# bfill() Method

In [3]:
df1=df.bfill(axis=0) # axis=0 represents rows
df1

     A    B  C    D
0  5.0  2.0  4  5.0
1  3.0  2.0  3  4.0
2  4.0  4.0  8  2.0
3  4.0  3.0  5  NaN

# ffill() Method

In [4]:
df1.ffill(axis=0)

     A    B  C    D
0  5.0  2.0  4  5.0
1  3.0  2.0  3  4.0
2  4.0  4.0  8  2.0
3  4.0  3.0  5  2.0

In [5]:
# Creating the dataframe  
df2=pd.DataFrame({"A":[8,3,None,4,7], 
                 "B":[None,2,4,3,5], 
                 "C":[4,None,8,5,None], 
                 "D":[None,4,2,None,1]}) 
  
# Print the dataframe 
df2

     A    B    C    D
0  8.0  NaN  4.0  NaN
1  3.0  2.0  NaN  4.0
2  NaN  4.0  8.0  2.0
3  4.0  3.0  5.0  NaN
4  7.0  5.0  NaN  1.0

# filling with particular value in a particular variable

In [6]:
df2['B'].fillna('5',inplace=True) 
df2

     A  B    C    D
0  8.0  5  4.0  NaN
1  3.0  2  NaN  4.0
2  NaN  4  8.0  2.0
3  4.0  3  5.0  NaN
4  7.0  5  NaN  1.0

# fillna() Method with bfill

In [7]:
df2['C'].fillna(method='bfill',inplace=True)
df2

     A  B    C    D
0  8.0  5  4.0  NaN
1  3.0  2  8.0  4.0
2  NaN  4  8.0  2.0
3  4.0  3  5.0  NaN
4  7.0  5  NaN  1.0

# fillna() Method with ffill

In [8]:
df2['A'].fillna(method='ffill',inplace=True)
df2

     A  B    C    D
0  8.0  5  4.0  NaN
1  3.0  2  8.0  4.0
2  3.0  4  8.0  2.0
3  4.0  3  5.0  NaN
4  7.0  5  NaN  1.0

# droping null values

In [9]:
df3=df2.dropna(axis=1) # axis=1 represents Columns
df3

     A  B
0  8.0  5
1  3.0  2
2  3.0  4
3  4.0  3
4  7.0  5

In [10]:
df4=df2.dropna(axis=0)
df4

     A  B    C    D
1  3.0  2  8.0  4.0
2  3.0  4  8.0  2.0

# Replacing missing values using median

In [11]:
median = df2['D'].median()
df2['D'].fillna(median, inplace=True)

In [12]:
df2

     A  B    C    D
0  8.0  5  4.0  2.0
1  3.0  2  8.0  4.0
2  3.0  4  8.0  2.0
3  4.0  3  5.0  2.0
4  7.0  5  NaN  1.0

# Replacing missing values using mean

In [13]:
df2['C'].fillna(df['C'].mean(),inplace=True)
df2

     A  B    C    D
0  8.0  5  4.0  2.0
1  3.0  2  8.0  4.0
2  3.0  4  8.0  2.0
3  4.0  3  5.0  2.0
4  7.0  5  5.0  1.0

In [14]:
# Creating the dataframe  
df3=pd.DataFrame({"A":[8,3,None,4,7], 
                 "B":[None,2,4,3,5], 
                 "C":[4,None,8,5,None], 
                 "D":[None,4,2,None,1]}) 
  
# Print the dataframe 
df3

     A    B    C    D
0  8.0  NaN  4.0  NaN
1  3.0  2.0  NaN  4.0
2  NaN  4.0  8.0  2.0
3  4.0  3.0  5.0  NaN
4  7.0  5.0  NaN  1.0

# Imputer Method filling null values

In [15]:
import numpy as np
from sklearn.impute import SimpleImputer
imputer = SimpleImputer(missing_values =np.nan, strategy = 'mean')
df3[['A','B','C','D']]=imputer.fit_transform(df3[['A','B','C','D']])

In [16]:
df3

     A    B         C         D
0  8.0  3.5  4.000000  2.333333
1  3.0  2.0  5.666667  4.000000
2  5.5  4.0  8.000000  2.000000
3  4.0  3.0  5.000000  2.333333
4  7.0  5.0  5.666667  1.000000